<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
    />
    <link rel="stylesheet" href="\stylesheets\userSignup.css" />
  </head>
  <body>
    <section>
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="/images/background/login (2).jpg"
              class="img-fluid"
              alt="Sample image"
              width="500"
              style="border-radius: 25px"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="container-fluid">
              <!-- form for account creation -->
              <form method="post" class="" action="/login">
                <div class="form-group">
                  <label class="form-label" for="email">Email</label>
                  <input
                    class="form-control"
                    type="email"
                    id="email"
                    name="email"
                      
                    required
                    placeholder="Enter your email"
                  />

                  <label class="form-label" for="password">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    id="password"
                    name="password"
                    required
                    placeholder="Enter your password"
                  />
                </div>
                <div class="center-align">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                <div class="mt-4 center-align">
                  <p>Or</p>
                  <button class="btn btn-primary">
                    <a style="text-decoration: none !important;" href="/login-phone">Login with mobile</a>
                  </button>
                </div>
              </form>

              <div class="mt-4 center-align">
                <p>
                  Not a member?
                  <a href="/signup" class="no-underline">Join us</a>
                </p>
              </div>
              <p id="errorMessage" style="color: red"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
