<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Page Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/projectOne_Favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/projectOne_Favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/projectOne_Favicon.png"
    />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css"
      rel="stylesheet"
    />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="\stylesheets\libs.bundle.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="\stylesheets\theme.bundle.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Fix for custom scrollbar if JS is disabled -->
    <noscript>
      <style>
        /** Reinstate scrolling for non-JS clients */
        .simplebar-content-wrapper {
          overflow: auto;
        }
      </style>
    </noscript>

    <!-- Page Title -->
    <title>Venture Apparels</title>
  </head>

  <body class="">
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white border-bottom mx-0 p-0 flex-column border-0"
    >
      <div class="w-100 pb-lg-0 pt-lg-0 pt-4 pb-3">
        <div
          class="container-fluid d-flex justify-content-between align-items-center flex-wrap"
        >
          <!-- Logo -->
          <a
            class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0"
            href="/"
            style="width: 150px"
          >
            <!-- Start of Logo -->
            <div class="d-flex align-items-center">
              <div class="f-w-6 d-flex align-items-center me-2 lh-1">
                <span class="fs-5">Venture Apparels</span>
              </div>
            </div>
            <!-- / Logo -->
          </a>
          <!-- / Logo -->

          <!-- Main Navigation -->
          <div
            class="ms-5 flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1"
            id="navbarNavDropdown"
          >
            <!-- Mobile Nav Toggler -->
            <button
              class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2"
              data-bs-target="#navbarNavDropdown"
              data-bs-toggle="collapse"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="ri-close-circle-line ri-2x"></i>
            </button>
            <!-- / Mobile Nav Toggler -->

            <ul class="navbar-nav py-lg-2 mx-auto">
              <li class="nav-item me-lg-4 dropdown position-static">
                <a
                  class="nav-link fw-bolder dropdown-toggle py-lg-4"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Activties</a
                >
                <!-- Activties dropdown menu-->
                <div class="dropdown-menu dropdown-megamenu">
                  <div class="container">
                    <div class="row g-0">
                      <!-- Dropdown Menu Links Section-->
                      <div class="col-12 col-lg-7">
                        <div class="row py-lg-5">
                          <!-- menu row-->
                          <div class="col col-lg-4 mb-5 mb-sm-0">
                            <h6 class="dropdown-heading" style="color: #e23f03">
                              Activties
                            </h6>
                            <ul class="list-unstyled">
                              <!-- Hiking -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Hiking</a
                                >
                              </li>

                              <!-- Camping -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Camping</a
                                >
                              </li>

                              <!-- Trail Running -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Trail Running</a
                                >
                              </li>

                              <!-- Kayaking -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Kayaking</a
                                >
                              </li>

                              <!-- Wildlife Safari -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Wildlife Safari</a
                                >
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->

                          <!-- menu row-->
                          <div class="col col-lg-4">
                            <h6 class="dropdown-heading">Collections</h6>
                            <ul class="list-unstyled">
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Adventure Apparels
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >FootGear
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Outdoor Accessories
                                </a>
                              </li>

                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Shelters</a
                                >
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Adventure Essentials
                                </a>
                              </li>

                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->

                          <!-- menu row-->
                          <div class="col col-lg-4">
                            <h6 class="dropdown-heading">Expolre</h6>
                            <ul class="list-unstyled">
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Men
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Women
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Kids
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Sale Items
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->
                        </div>
                      </div>
                      <!-- /Dropdown Menu Links Section-->

                      <!-- Dropdown Menu Images Section-->
                      <div class="d-none d-lg-block col-lg-5">
                        <div
                          class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute"
                          style="
                            background-image: url(/images/banners/banner-2.jpg);
                          "
                        ></div>
                      </div>
                      <!-- Dropdown Menu Images Section-->
                    </div>
                  </div>
                </div>
                <!-- / Activties dropdown menu-->
              </li>

              <li class="nav-item me-lg-4 dropdown position-static">
                <a
                  class="nav-link fw-bolder dropdown-toggle py-lg-4"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Collections</a
                >
                <!-- Collections dropdown menu -->
                <div class="dropdown-menu dropdown-megamenu">
                  <div class="container">
                    <div class="row g-0">
                      <!-- Dropdown Menu Links Section-->
                      <div class="col-12 col-lg-7">
                        <div class="row py-lg-5">
                          <!-- menu row-->
                          <div class="col col-lg-4 mb-5 mb-sm-0">
                            <h6 class="dropdown-heading">Activties</h6>
                            <ul class="list-unstyled">
                              <!-- Hiking -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Hiking</a
                                >
                              </li>

                              <!-- Camping -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Camping</a
                                >
                              </li>

                              <!-- Trail Running -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Trail Running</a
                                >
                              </li>

                              <!-- Kayaking -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Kayaking</a
                                >
                              </li>

                              <!-- Wildlife Safari -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Wildlife Safari</a
                                >
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->

                          <!-- menu row-->
                          <div class="col col-lg-4">
                            <h6 class="dropdown-heading" style="color: #e23f03">
                              Collections
                            </h6>
                            <ul class="list-unstyled">
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Adventure Apparels
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >FootGear
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Outdoor Accessories
                                </a>
                              </li>

                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Shelters</a
                                >
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Adventure Essentials
                                </a>
                              </li>

                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->

                          <!-- menu row-->
                          <div class="col col-lg-4">
                            <h6 class="dropdown-heading">Expolre</h6>
                            <ul class="list-unstyled">
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Men
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Women
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Kids
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Sale Items
                                </a>
                              </li>

                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->
                        </div>
                      </div>
                      <!-- /Dropdown Menu Links Section-->

                      <!-- Dropdown Menu Images Section-->
                      <div class="d-none d-lg-block col-lg-5">
                        <div
                          class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute"
                          style="
                            background-image: url(/images/banners/banner-1.jpg);
                          "
                        ></div>
                      </div>
                      <!-- Dropdown Menu Images Section-->
                    </div>
                  </div>
                </div>
                <!-- / Collections dropdown menu -->
              </li>

              <li class="nav-item me-lg-4 dropdown position-static">
                <a
                  class="nav-link fw-bolder dropdown-toggle py-lg-4"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Expolre</a
                >
                <!-- Expolre dropdown menu -->
                <div class="dropdown-menu dropdown-megamenu">
                  <div class="container">
                    <div class="row g-0">
                      <!-- Dropdown Menu Links Section-->
                      <div class="col-12 col-lg-7">
                        <div class="row py-lg-5">
                          <!-- menu row-->
                          <div class="col col-lg-4 mb-5 mb-sm-0">
                            <h6 class="dropdown-heading">Activties</h6>
                            <ul class="list-unstyled">
                              <!-- Hiking -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Hiking</a
                                >
                              </li>

                              <!-- Camping -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Camping</a
                                >
                              </li>

                              <!-- Trail Running -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Trail Running</a
                                >
                              </li>

                              <!-- Kayaking -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Kayaking</a
                                >
                              </li>

                              <!-- Wildlife Safari -->
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Wildlife Safari</a
                                >
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->

                          <!-- menu row-->
                          <div class="col col-lg-4">
                            <h6 class="dropdown-heading">Collections</h6>
                            <ul class="list-unstyled">
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Adventure Apparels
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >FootGear
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Outdoor Accessories
                                </a>
                              </li>

                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Shelters</a
                                >
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Adventure Essentials
                                </a>
                              </li>

                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->

                          <!-- menu row-->
                          <div class="col col-lg-4">
                            <h6 class="dropdown-heading" style="color: #e23f03">
                              Expolre
                            </h6>
                            <ul class="list-unstyled">
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Men
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Women
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >kids
                                </a>
                              </li>
                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item"
                                  href="/product/allcategory"
                                  >Sale Items
                                </a>
                              </li>

                              <li class="dropdown-list-item">
                                <a
                                  class="dropdown-item dropdown-link-all"
                                  href="/product/allcategory"
                                  >View All</a
                                >
                              </li>
                            </ul>
                          </div>
                          <!-- /menu row-->
                        </div>
                      </div>
                      <!-- /Dropdown Menu Links Section-->

                      <!-- Dropdown Menu Images Section-->
                      <div class="d-none d-lg-block col-lg-5">
                        <div
                          class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute"
                          style="
                            background-image: url(/images/banners/banner-3.jpg);
                          "
                        ></div>
                      </div>
                      <!-- Dropdown Menu Images Section-->
                    </div>
                  </div>
                </div>
                <!-- / Expolre dropdown menu -->
              </li>
            </ul>
          </div>
          <!-- / Main Navigation -->

          <!-- Navbar Icons -->
          <ul class="list-unstyled mb-0 d-flex align-items-center">
            <!-- Navbar Search -->
            <li class="ms-1 d-inline-block">
              <a
                class="btn btn-link px-2 py-0 text-decoration-none d-flex align-items-center"
                onclick="navigateToSearchPage()"
              >
                <i class="ri-search-line" style="font-size: 24px"></i>
              </a>
            </li>
            <!-- /Navbar Search -->

            <!-- Navbar profile -->
            <li class="ms-1 d-inline-block">
              <a
                href="/user-profile"
                class="btn btn-link px-2 py-0 text-decoration-none d-flex align-items-center"
              >
                <i class="ri-user-line" style="font-size: 24px"></i>
              </a>
            </li>
            <!-- /Navbar profile -->

            <!-- Navbar Cart -->
            <li class="ms-1 d-inline-block position-relative">
              <a
                href="/cart/view"
                class="btn btn-link px-2 text-decoration-none d-flex align-items-center disable-child-pointer"
              >
                <i
                  class="ri-shopping-cart-2-line ri-lg align-middle position-relative z-index-10"
                ></i>
              </a>
            </li>
            <!-- /Navbar Cart -->

            <!-- Navbar Toggle Icon -->
            <li class="d-inline-block d-lg-none">
              <button
                class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="ri-menu-line ri-lg align-middle"></i>
              </button>
            </li>
            <!-- /Navbar Toggle Icon -->
          </ul>
          <!-- Navbar Icons -->
        </div>
      </div>
    </nav>
    <!-- / Navbar -->

    <script src="/javascripts/vendor.bundle.js"></script>
    <!-- Theme JS -->
    <script src="/javascripts/theme.bundle.js"></script>
    <script>
      function navigateToSearchPage() {
        // Replace "search.html" with the actual URL of your search page
        window.location.href = "/search";
      }
    </script>
    <%- body %>
  </body>
</html>
