<h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
  ADD CATEGORY
</h4>
<div class="container mt-4">
  <form action="/product/add-category" method="post">
    <div class="form-group">
      <label for="name">Category Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter category name"
        required
      />
    </div>
    <br />
    <div class="form-group">
      <label for="categoryDescription">Category Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        placeholder="Enter category description"
      ></textarea>
    </div>
    <br />

     <button type="submit" class="btn btn-primary">Add Category</button>
    <div id="errorContainer">
      <p id="errorMessage" style="display: none; color: red"></p>
    </div>
    <br>
    <br>
  </form>
</div>
