.error-message {
  color: rgb(151, 25, 25);
  font-weight: bold;
}

.login-link {
  text-decoration: none !important;
  color: #fff;
}

.not-member {
  color: black;
}

.not-member a {
  text-decoration: none;
  color: #455a64; 
  font-weight: bold;
}

.not-member a:hover {
  color: #607d8b;
}

@media (max-width: 767px) {
  .container-fluid {
    max-width: 100%;
  }

  .bg-secondary.image-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .img-fluid.small-image {
    max-width: 70%;
    height: auto;
    border-radius: 0.5rem;
  }

  .form-control {
    max-width: 100%;
  }
}

.phoneNumber {
  display: none;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical alignment */
  justify-content: center; 
}